@using _01_HTMLHelper.CustomHelper
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Button("button", "Tıkla", ButtonType.Submit, null, "btn btn-primary")

@Html.Button("link", "Linke tıkla", null,"http://www.google.com", "btn btn-success")
