<ul class="nav flex-column mb-5">
    <li class="nav-item">
        <a class="nav-link active" href="/Home/Anasayfa">Anasayfa</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Home/Hakkimizda">Hakkımızda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Home/Iletisim">İletişim</a>
    </li>
</ul>